* {
  box-sizing: border-box;
}
.grid {
    float: left;
  width: 100%;
  padding: 21px;
}
@media only screen and (min-width: 768px ) and (max-width: 991px)  {
  #cell1 , #cell2 {
  /* For tablets: */
  width: 50%;
  }
}
@media only screen and (min-width: 992px  )  {
  .grid {
  /* For desktop: */
  width: 33.33%;
}
}

div.dish {
  border: 1px solid black;
  background-color: Gray;
  position: relative;
}
.desc {
  padding: 20px;
}
h1 {
  text-align: center;
}
span {
    border: 1px solid black;
font-size: 125%;
  display: block;
  width: 100px;
  position: absolute;
  right: -1px;
  top: -1px;
}
.chicken {
  background-color: Violet;
  text-align: center;
}
.beef {
  background-color: Red;
  color: White;
  text-align: center;
}
.sushi {
  background-color: Yellow;
  text-align: center;
}
