div {
  border: 1px solid black;
  background-color: Gray
}
h1 {
  text-align: center;
}
.chicken {
  background-color: Violet;
  text-align: center;
}
.beef {
  background-color: Red;
  color: White
}
.sushi {
  background-color: Yellow
}
