* {
  box-sizing: border-box;
}
div.grid {
    float: left;
  width: 33.33%;
  padding: 20px;
}
div.dish {
  border: 1px solid black;
  background-color: Gray;
  position: relative;
}
.desc {
  padding: 20px;
}
h1 {
  text-align: center;
}
span {
    border: 1px solid black;

  display: block;
  width: 100px;
  position: absolute;
  right: -1px;
  top: -1px;
}}
.chicken {
  background-color: Violet;
  text-align: center;
}
.beef {
  background-color: Red;
  color: White;
  text-align: center;
}
.sushi {
  background-color: Yellow;
  text-align: center;
}
