div {
  border: 1px solid black;
  background-color: Gray;
  position: relative;
}
h1 {
  text-align: center;
}
span {
  display: block;
  width: 100px;
  position: absolute;
  right: 0px;
}
.chicken {
  background-color: Violet;
  text-align: center;
}
.beef {
  background-color: Red;
  color: White;
  text-align: center;
}
.sushi {
  background-color: Yellow;
  text-align: center;
}
